/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

header{
    margin-top: 80px;
    display:none;    
}

.cell {
    -ms-flex: 0 0 3%;
    flex: 0 0 3%;
    font-size:1vw;
    border:1px solid gray;
    text-align: center;
    float:left;
}

.sub-cell {
    -ms-flex: 0 0 3.1%;
    flex: 0 0 3.1%;
    font-size:1vw;
    border:1px solid gray;
    text-align: center;
    float:left;
}

.cell-hour {
    -ms-flex: 0 0 3%;
    flex: 0 0 3%;
    font-size:1vw;
    text-align: left;
    float:left;
}

.cell-img {
    -ms-flex: 0 0 3%;
    flex: 0 0 3%;
    font-size:1.2vw;
    text-align: center;
    float:left;
    border:1px solid gray;
    background-image:url(../images/4022_16.png);
    background-repeat:no-repeat;
    background-position:center;
}
.main-title{
    -ms-flex: 0 0 19%;
    flex: 0 0 19%;
    font-size:1.3vw;
    float:left;
}
.main-title-lg{
    -ms-flex: 0 0 19%;
    flex: 0 0 19%;
    font-size:1.4vw;
    float:left;
}

.titles{
    -ms-flex: 0 0 19%;
    flex: 0 0 19%;
    font-size:1vw;
    text-indent: 10px; 
    float:left;
    clear:both;
    margin-top:5px;
    margin-bottom:5px
}

.sub-titles{
    -ms-flex: 0 0 18.1%;
    flex: 0 0 18.1%;
    font-size:1vw;
    text-indent: 10px; 
    float:left;
    clear:both;
    margin-top:5px;
    margin-bottom:5px
}

.sub-titles-lg{
    -ms-flex: 0 0 18.1%;
    flex: 0 0 18.1%;
    font-size:1.1vw;
    text-indent: 10px; 
    float:left;
    clear:both;
    margin-top:5px;
    margin-bottom:5px
}

.blank{
    -ms-flex: 0 0 19%;
    flex: 0 0 19%;
}
.blank-lg{
    -ms-flex: 0 0 72%;
    flex: 0 0 72%;
}
.leyenda{
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    float:left;
    border:1px solid gray;
    color:black;
    text-align:center;
    font-size:1vw;
}
.rangos{
    font-size:1vw;
}

#admin{
    background-color:rgb(146,190,139);
}
#perdidas{
    background-color: rgb(209,181,181);
}
#atrasado{
    background-color: rgb(221,221,221);
}
#futura{
    background-color:rgb(140,168,251);
}
#med{
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    font-size:1vw;
}
#balHid{
    display:none;
}
.balHid{
    font-weight:bold;
}
.ingresos{
    color:rgb(102, 153, 0);
}
.egresos{
    color:rgb(255, 102, 0);
}
.list-inline-item{
    font-size:1vw;
}
.media{
    font-size:1.5vw;
}
.card-header{
    font-size:1.5vw;
}

/* Graph style */
#resetBtns {position: relative; width: 20%; white-space: nowrap; border: 1px solid #ddd;height:125px;overflow:auto;margin:2px 39px 2px 0;} 
#vsSelect, #bpSelect {position: relative;  white-space: nowrap;border: 1px solid #ddd;overflow:auto;margin:2px; overflow:scroll; overflow-y:hidden;
                      font-size:1vw; margin-left:20px; height:50%;width:22%;}
#vsGraph, #bpGraph {height: 350px; position: relative; margin-left: 10px;margin-right:50px;}

div.btn {display:inline-block;position:relative;cursor: pointer;vertical-align:middle;margin-right:2px; height:23px; width: 23px; border: 1px solid #C9DFE5; background: #FFF;}
div.series-on{ background-color: #eeeeee;}
div.series-off{ border-right: 3px solid #C9DFE5; border-bottom: 3px solid #C9DFE5;}
div.btns div.closed {display:none;}

canvas.buttons{margin-left:-10px;margin-top:-7px;}



